In [1]:
import pandas as pd
import numpy as np
import sklearn
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
from sklearn.preprocessing import StandardScaler, MaxAbsScaler, MinMaxScaler, RobustScaler, Normalizer, Imputer
import time
from scipy.stats import zscore
from datetime import datetime
from IPython.display import display, HTML

# Import Shudhi Modules

In [2]:
from shudhi_describe import shudhi_describe
from shudhi_transform import shudhi_transform

## Import Datasets: we have a small and a big dataset

In [3]:
df_four = pd.read_json('foursquare_test.json', orient='records')

In [4]:
df_four.shape

(400, 11)

In [5]:
df_complaint = pd.read_csv('Top_5_complaints.csv')

In [6]:
df_complaint.shape

(376062, 36)

## Run Shudhi Describe: Baseline

In [7]:
shudhi_describe(df_four, plot=False)

                                       SUMMARY STATISTICS

,Feature,Feature Type,count,# Unique,# Missing,# Outliers,mean,median,min,max
0,country,String/Object,400,1,0,,,,,
1,id,String/Object,400,400,0,,,,,
2,latitude,Real Value,400,399,0,1,40.75,40.74,40.6605,42.3531
3,locality,String/Object,400,5,0,,,,,
4,longitude,Real Value,400,399,0,1,-73.97,-73.99,-74.0159,-71.0541
5,name,String/Object,400,386,0,,,,,
6,phone,String/Object,400,199,181,,,,,
7,postal_code,Real Value saved as string,400,53,0,,,,,
8,region,String/Object,400,1,0,,,,,
9,street_address,String/Object,400,310,0,,,,,
10,website,String/Object,400,69,0,,,,,

--------------------------------------------------------------------------------------------------------------------

In [8]:
shudhi_describe(df_complaint, plot=False)

                                       SUMMARY STATISTICS

,Feature,Feature Type,count,# Unique,# Missing,# Outliers,mean,median,min,max
0,Unique Key,Integer,376062,376062,0,0,3.34056e+07,3.37504e+07,1.95111e+07,3.89483e+07
1,Created Date,String/Object,376062,334662,0,,,,,
2,Closed Date,String/Object,376062,273775,2239,,,,,
3,Agency,String/Object,376062,7,0,,,,,
4,Agency Name,String/Object,376062,39,0,,,,,
5,Complaint Type,String/Object,376062,5,0,,,,,
6,Descriptor,String/Object,376062,62,0,,,,,
7,Location Type,String/Object,376062,20,31986,,,,,
8,Incident Zip,Real Value,376062,209,2370,0,10795.9,11203,0,11697
9,Incident Address,String/Object,376062,151287,34479,,,,,
10,Street Name,String/Object,376062,8597,34479,,,,,
11,Cross Street 1,String/Object,376062,9418,122944,,,,,
12,Cross Street 2,String/Object,376062,9406,123443,,,,,
13,Intersection Street 1,String/Object,376062,4951,341669,,,,,
14,Intersection Street 2,String/Object,376062,4860,341916,,,,,
15,Address Type,String/Object,376062,5,1292,,,,,
16,City,String/Object,376062,90,2356,,,,,
17,Landmark,String/Object,376062,42,375970,,,,,
18,Status,String/Object,376062,5,0,,,,,
19,Due Date,String/Object,376062,217043,139610,,,,,
20,Resolution Description,String/Object,376062,98,327,,,,,
21,Resolution Action Updated Date,String/Object,376062,274121,1152,,,,,
22,Community Board,String/Object,376062,76,0,,,,,
23,Borough,String/Object,376062,6,0,,,,,
24,X Coordinate (State Plane),Real Value,376062,69741,2996,0,1.00514e+06,1.0039e+06,913495,1.06717e+06
25,Y Coordinate (State Plane),Real Value,376062,85139,2996,0,207940,204824,121212,271876
26,Park Facility Name,String/Object,376062,1,0,,,,,
27,Park Borough,String/Object,376062,6,0,,,,,
28,Vehicle Type,Real Value,376062,0,376062,0,,,,
29,Garage Lot Name,Real Value,376062,0,376062,0,,,,
30,Ferry Terminal Name,Real Value,376062,0,376062,0,,,,
31,Latitude,Real Value,376062,164759,2996,0,40.74,40.73,40.4991,40.9129
32,Longitude,Real Value,376062,164663,2996,0,-73.92,-73.93,-74.2544,-73.7008
33,Location,String/Object,376062,165828,2996,,,,,
34,year,Integer,376062,8,0,0,2015.85,2016,2011,2018
35,month,Integer,376062,12,0,0,6.47,6,1,12

--------------------------------------------------------------------------------------------------------------------

# Run Shudhi Transform

In [9]:
# df_four has no missing in continuous variables, hence, only scaling with std scaler
# Scale for latitude and longitude; One hot for locality

df_new= shudhi_transform(df_train=df_four, cols=['latitude', 'longitude', 'locality'], 
                         scale_strategy='std', one_hot=True )

Warning: Entered inconsistent column types. Only Continuous features will be scaled.
Warning: Entered inconsistent column types. Only Categorical features will be one hot encoded

In [10]:
# The warning above is because we have both categorical and continuous features in cols field.

In [11]:
# Fill in missing values with mean and then scale with "max_abs" scaler

df_c_new= shudhi_transform(df_train=df_complaint, cols=['Latitude', 'Longitude', 'Incident Zip'], 
                           missing_strategy='mean',  scale_strategy='max_abs')

Warning: If a column has >10% missing values, it will not be acted upon unless "override=True" is set. The below columns are considered:
['Latitude', 'Longitude', 'Incident Zip']

## Check with describe if this has worked: Ofcourse it has!

In [13]:
shudhi_describe(df_new, plot=False)

                                       SUMMARY STATISTICS

,Feature,Feature Type,count,# Unique,# Missing,# Outliers,mean,median,min,max
0,country,String/Object,400,1,0,,,,,
1,id,String/Object,400,400,0,,,,,
2,latitude,Real Value,400,399,0,0,-0,-0.1,-1.07619,18.5324
3,longitude,Real Value,400,399,0,0,0,-0.09,-0.288801,19.6258
4,name,String/Object,400,386,0,,,,,
5,phone,String/Object,400,199,181,,,,,
6,postal_code,Real Value saved as string,400,53,0,,,,,
7,region,String/Object,400,1,0,,,,,
8,street_address,String/Object,400,310,0,,,,,
9,website,String/Object,400,69,0,,,,,
10,locality_822 Lexington Avenue,Integer,400,2,0,0,0,0,0,1
11,locality_Brooklyn,Integer,400,2,0,0,0,0,0,1
12,locality_Elmhurst,Integer,400,2,0,0,0,0,0,1
13,locality_New York,Integer,400,2,0,0,0.99,1,0,1
14,locality_Sunnyside,Integer,400,2,0,0,0,0,0,1

--------------------------------------------------------------------------------------------------------------------

In [16]:
shudhi_describe(df_c_new, cols= ['Latitude', 'Longitude', 'Incident Zip'], plot=False)

                                       SUMMARY STATISTICS

,Feature,Feature Type,count,# Unique,# Missing,# Outliers,mean,median,min,max
0,Latitude,Real Value,376062,164760,0,0,1.00,1.00,0.989887,1.000000
1,Longitude,Real Value,376062,164664,0,0,-1.00,-1.00,-1.000000,-0.992544
2,Incident Zip,Real Value,376062,210,0,0,0.92,0.96,0.000000,1.000000

--------------------------------------------------------------------------------------------------------------------